@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DI SANTINNI</h1>
    <p>Venha Conhecer <a href="https://www.disantinni.com.br/">Nossos Produtos</a>.</p>
</div>

<div id="carouselExampleCaptions" class="carousel slide carousel-dark w-50 mx-auto">
    <div class="carousel-indicators text-dark">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner text-dark">
        <div class="carousel-item active">
            <a href="https://www.disantinni.com.br/dsplus/moda/tendencias-para-os-sapatos-de-outono-inverno-202302281450.html"><img src="~/imagens/img1.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block text-danger text-decoration-underline">
                <h5></h5>
                <b style="color:black"> TENDÊNCIAS PARA OS SAPATOS DE OUTONO INVERNO.</b>
            </div> 
        </div>
        <div class="carousel-item">
            <a href="https://www.disantinni.com.br/dsplus/moda/conforto-e-beleza%3A-looks-que-sao-um-arraso-com-tenis--202302271720.html"><img src="~/imagens/img2.png" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block text-danger text-decoration-underline ">
                <h5></h5>
                <b style="color:black">CONFORTO E BELEZA: LOOKS QUE SÃO UM ARRASO COM TÊNIS.</b>
            </div>
        </div>
        <div class="carousel-item">
            <a href="https://www.disantinni.com.br/dsplus/moda/os-5-saltos-que-estao-em-alta--202302021715.html"><img src="~/imagens/img3.jpg" class="d-block w-100" alt="..."></a>
            <div class="carousel-caption d-none d-md-block text-danger text-decoration-underline">
                <h5></h5>
                <b   style="color:black">OS 5 SALTOS QUE ESTÃO EM ALTA.</b>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev carousel-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon " aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next carousel-dark" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
